*{
	margin: 0 auto;
	font-family: Tahoma;
}

h3 {
 text-align: center;
	padding: 10px;
	background-color: #4199e6;
	color: white;
	font-size: 40px;
}
/*animation loading google*/
.circle { 
	top: 100px;
	position: relative;
	width: 30%;
}
.circle span{
	position: absolute;
	content: '';
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.circle span:nth-child(1){
	background-color: #589ac4;
	left: -40px;
	animation: circle 2s ease-in-out infinite;
}
.circle span:nth-child(2){
	background-color: #e93535;
	left: 20px;
	animation: circle 2s ease-in-out .20s infinite;
}
.circle span:nth-child(3){
	background-color: #f5db00;
	left: 80px;
	animation: circle 2s ease-in-out .40s infinite;
}
.circle span:nth-child(4){
	background-color: #23af71;
	left: 140px;
	animation: circle 2s ease-in-out .60s infinite;
}

@keyframes circle{
	0%,100%{transform: translateY(-50px)}
	50%{transform: translateY(50px)}
}